In [2]:
import pandas as pd
import numpy as np

In [3]:

def read_vcf(data_path):
    df = pd.read_csv(DATA_PATH, delimiter=' ')
    df = df[['#[1]CHROM','[2]POS', '[3]ID']]
    df.columns = ['chr','pos', 'rs']
    chr = df.chr.str.split('.').str[0].str.split('_').str[1].astype(int)

    df.chr = chr
    # df[df.chr<24]

    return df
DATA_PATH = './data/SNP_with_id.vcf'

df = read_vcf(DATA_PATH)
df.to_csv('./data/rs_info.csv', index=False)

In [4]:
def get_rs_info(rs):
    info = pd.read_csv('./data/rs_info.csv')

    info = pd.merge(rs, info, on='rs')

    pos = info.pos
    chr = info.chr

    return chr, pos

In [5]:
info = pd.read_csv('./data/rs_info.csv')

In [6]:
info

           chr       pos          rs
0            1   5046879  rs12027985
1            1   5116921  rs10799167
2            1  10736809    rs880315
3            1  15981917   rs2024758
4            1  15981952    rs848309
...        ...       ...         ...
3168  14040929    163132  rs57014807
3169  14040929    163133  rs59831173
3170    187533    163049  rs12497267
3171    187533    163143  rs12493885
3172     12920       709   rs2853517

[3173 rows x 3 columns]

In [19]:
info[info.rs=='rs12493885']

         chr        pos          rs
616        3  154122077  rs12493885
3171  187533     163143  rs12493885

In [15]:
rsR = pd.Series(['rs880315', 'rs12027985', 'rs2853517','rs12493885'], name='rs')
rsR

0      rs880315
1    rs12027985
2     rs2853517
3    rs12493885
Name: rs, dtype: object

In [18]:
pd.merge(rsR, info, on='rs')

           rs     chr        pos
0    rs880315       1   10736809
1  rs12027985       1    5046879
2   rs2853517   12920        709
3  rs12493885       3  154122077
4  rs12493885  187533     163143